name: Docs Release
on:
  workflow_run:
    workflows: ["Publish"]
    types:
      - completed

jobs:
  Build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 7.2.1

      - name: Set npmrc
        run: |
          echo "auto-install-peers=true" >> ~/.npmrc
          echo "strict-peer-dependencies=false" >> ~/.npmrc

      - name: Install modules
        run: |
          pnpm install

      - name: Run Lint
        run: pnpm run docs:build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.TOKEN }}
          publish_dir: docs/.vitepress/dist
